---
permalink: /docs/%title/
collection: docs
---

{% extends '_layouts/docs.html.twig' %}

{% block content %}
    <article>
        <header>
            <h1>{{ this.title }}</h1>
        </header>
        <div>
            {{ this.content }}
        </div>
    </article>
{% endblock %}
