---
permalink: /docs/%title/
collection: docs
---

{% extends '_layouts/docs.html.twig' %}

{% block content %}
    <article>
        <header>
            <h1>{{ this.title }}</h1>
        </header>
        <section>
            {% if this.noToc == false %}
                <div class="c-toc mb-3 p-4 u-background--lpurple">
                    <p class="mb-3 text-center"><strong>On This Page</strong></p>

                    {{ this.content | toc(class="mb-0 pl-3") }}
                </div>
            {% endif %}

            <div>
                {{ this.content }}
            </div>
        </section>
    </article>
{% endblock %}
