* {
	font-family: 'Lato', sans-serif;
}

.forumpost {
	margin-bottom: 18px;
	color: white;
	padding: 35px 35px;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

.container__home__1 {
	background-image: url("../Images/fabric-light.png");
	margin-top: 48px;
}


@media (min-width: 768px) {
.container__home__1 {
	margin-top: 75px;
	margin-bottom: 25px;
	}
}

.container__home__2 {
	margin-bottom: 9em;
	background-image: url("../Images/fabric-light.png");
}

@media (min-width: 992px) {
	.forumpost {
		width: 70%;
	}
}

.background-dpurple {
   background-image: url("../Images/fabric-dark.png");
   height: 100%;
   z-index: -100;
   background-color: #3c2d41;
}

.post-title {
	font-size: 16px;
	margin-top: 0;
	word-spacing: 2px;
	font-weight: bold;
}

@media (min-width: 480px) {
	.post-title {
		font-size: 25px;
		word-spacing: 3px;
	}
}

@media (min-width: 768px) {
	.post-title {
		font-size: 34px;
		word-spacing: 4px;
	}
}

.menu-bar {
	text-align: center;
	margin-top: 0;
	font-size: 10px;
	word-spacing: 7px;
	font-weight: bold;
}

@media (min-width: 480px) {
	.menu-bar {
		font-size: 14px;
		word-spacing: 14px;
	}
}

@media (min-width: 768px) {
	.menu-bar {
		font-size: 16px;
		word-spacing: 21px;
	}
}

@media (max-width: 303px) {
	.menu-bar {
		font-size: 9px;
	}
}


.navbar-container {
	padding: 0px 0px;
}

.gettingstarted {
	word-spacing: 3px; 
}

.menu-bar > a {
	color: #D6BEDE;
}

.menu-bar > a:hover {
	text-decoration: underline;
}

.tag {
	border-radius: 3px;
	font-size: 12px;
	letter-spacing: 1px;
	float: left;
	margin-top: 30px;
	margin-bottom: 30px;
}

@media (min-width: 480px) {
	.tag {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	.tag {
		font-size: 16px;
	}
}

@media (min-width: 768px) {
	.tag {
	float: right;
	margin-top: -45px;
	}
}

@media (device-width: 768px) {
	.tag {
	float: right;
	margin-top: -45px;
	}
}

.tag-green {
	background-color: #807608;
	border: 3px solid #9a9229;
	padding: 3px 6px 3px 6px;
}

.tag-red {
	background-color: #770000;
	border: 3px solid #873f4a;
	padding: 3px 6px 3px 6px;
	margin-left: -1px;
}

@media (min-width: 768px) {
	.date > p {
		margin-left: 89px;
	}
}

@media (min-width: 480px) {
	.date-modifying-margin > p {
		margin-left: 1.4em;
	}
}

@media (min-width: 768px) {
	.date-modifying-margin > p {
		margin-left: 5.55em;
	}
}



.caption {
	margin-left: -7.8em;
	float: left;
	margin-top: -5px;
}

.date {
	font-size: 12px;
	display: inline-block;
	margin-right: 1em;
	margin-left: 20px;
}

.date > p {
	margin-bottom: 0;
}

.date-modifying-margin {
	margin-left: 38px;
}

.author-caption {
	display: inline-block;

}

.author {
	font-size: 12px;
	margin-bottom: 0;
	margin-left: 2em;
}

.bulldot {
	font-size: 14px;
	margin-bottom: -1.3em;
	margin-top: -19px;
}

@media (min-width: 480px) {
	.bulldot {
		font-size: 16px;
	}
	.author {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	.bulldot {
		font-size: 18px;
	}
	.author {
		font-size: 16px;
	}
}

.post > p {
	font-size: 12px;
}

@media (min-width: 480px) {
	.post > p {
		font-size: 13px;
	}
	.date {
		font-size: 14px;
		margin-left: 10px;
	}
}

@media (min-width: 768px) {
	.post > p {
		font-size: 14px;
	}
	.date { 
		font-size: 16px;
		margin-left: 20px;
	}
}

.post > p:first-child {
	margin-top: 8.7em;
}

@media (min-width: 768px) {
	.post > p:first-child {
	margin-top: 60px;
	margin-bottom: 20px;
	}
}

.post > p:nth-child(2) {
	margin-bottom: 0;
}

.post > p:last-child {
	margin-bottom: 0;
	margin-top: 20px;
}


.post > p {
	padding-right: 0;
	line-height: 20px;
}

.navbar-container {
	text-align: center;
}

@media (min-width: 768px) {
	.stakx-logo {
	margin-top: 60px;
	margin-bottom: 20px;
	}
}

.stakx-logo {
	margin-top: 40px;
	margin-bottom: 20px;
}

.copyright {
	color: #D6BEDE;
	font-size: 14px;
	margin-top: -6em;
}

.gradient-radial-header {
   background: radial-gradient(circle , #827487  30%, transparent 60%);
   position: absolute;
   z-index: -50;
   height: 100%;
   width: 100%;
   opacity: .7;
}

@media (min-width: 768px) {
	.gradient-radial-header {
	background: radial-gradient(circle , #827487  15%, transparent 40%);
	}
}
 
.firstline {
	letter-spacing: 1px;
	font-size: 18px;
}

@media (max-width: 306px) {
	.post-title {
		font-size: 13px;
	}
	.menu-bar { 
		font-size: 9px;
		word-spacing: 5px;
	 }
}