* {
	font-family: 'Lato', sans-serif;
}

.col {
	display: block;
}

.forumpost {
	color: white;
	padding: 30px 30px;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

.forumpost__2 {
	color: white;
	padding: 30px 30px;
	width: 94%;
}

.container__home__1 {
	background-image: url("../Images/fabric-light.png");
	margin-bottom: 30px;
}

.container__home__3 {
	background-image: url("../Images/fabric-light.png");
	float: left;
}

.container__home__2 {
	background-image: url("../Images/fabric-light.png");
}


@media (min-width: 992px) {
	.forumpost {
		width: 70%;
	}
}

.background-dpurple {
   background-image: url("../Images/fabric-dark.png");
   height: 100%;
   z-index: -100;
   background-color: #3c2d41;
}

.post-title {
	font-size: 16px;
	margin: 0px;
	word-spacing: 2px;
	font-weight: bold;
}

.documentpost > h3 {
	font-size: 15.5px;
	word-spacing: 1px;
}

@media (min-width: 480px) {
	.post-title {
		font-size: 24px;
		word-spacing: 3px;
	}
	.documentpost > h3 {
		font-size: 19px;
	}
}

@media (min-width: 768px) {
	.post-title {
		font-size: 32px;
		word-spacing: 4px;
	}
	.documentpost > h3 {
		font-size: 22.5px;
	}
}


.menu-bar {
	text-align: center;
	margin-top: 0;
	font-size: 10px;
	word-spacing: 7px;
	font-weight: bold;
}

@media (min-width: 480px) {
	.menu-bar {
		font-size: 14px;
		word-spacing: 14px;
	}
}

@media (min-width: 768px) {
	.menu-bar {
		font-size: 16px;
		word-spacing: 21px;
	}
}

@media (max-width: 303px) {
	.menu-bar {
		font-size: 9px;
	}
}

.header {
	margin-bottom: 60px;
	padding: 0px 0px;
}

.gettingstarted {
	word-spacing: 3px; 
}

.menu-bar > a {
	color: #D6BEDE;
}

.menu-bar > a:hover {
	text-decoration: underline;
}

.tag {
	border-radius: 3px;
	font-size: 12px;
	letter-spacing: 1px;
	margin: 0px;
	margin: 5px 0px;
}

@media (min-width: 480px) {
	.tag {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	.tag {
		font-size: 16px;
		margin: 0px 0px;
	}
}

@media (max-width: 768px) {
	.tag {
		float: left;
	}
}

.tag-green {
	background-color: #807608;
	border: 3px solid #9a9229;
	padding: 3px;
}

.tag-red {
	background-color: #770000;
	border: 3px solid #873f4a;
	padding: 3px;
}

.date {
	font-size: 12px;
	margin: 0px 0px;	
	padding: 0px 0px;
	display: inline-block;
}

.meta p {
	margin-bottom: 0px;
}

.meta {
	max-width: 100%;
}

.meta > .row {
	margin: 0px 0px;
	display: table-row;
}

.author {
	display: inline-block;
	margin: 0px 0px;
	padding: 0px 0px;
}

.bulldot {
	font-size: 12px;
	margin: 0px 5px;
	display: inline-block;
	padding: 0px 0px;
}

@media (min-width: 480px) {
	.bulldot {
		font-size: 14px;
	}
	.author {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	.bulldot {
		font-size: 16px;
	}
	.author {
		font-size: 16px;
	}
}

.post > p {
	font-size: 12px;
	word-spacing: 1px;
}

.post {
	margin: 15px 0px 0px 0px;
}

@media (min-width: 480px) {
	.post {
	margin: 30px 0px 0px 0px;
	}
}

@media (min-width: 480px) {
	.post > p {
		font-size: 14px;
	}
	.date {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	.post > p {
		font-size: 16px;
	}
	.date { 
		font-size: 16px;
	}
}

.post > p:first-child {
	margin-top: 0px;
	margin-bottom: 15px;
}

.post > p:nth-child(2) {
	margin-bottom: 0;
}

.post > p:nth-child(3) {
	margin-bottom: 0;
	margin-top: 15px;
}


.post > p {
	padding-right: 0;
	line-height: 20px;
}

.header {
	text-align: center;
}

.stakx-logo, .stakx-logo-2 {
	margin-top: 60px;
	margin-bottom: 15px;
}

.copyright > p {
	color: #D6BEDE;
	font-size: 14px;
	margin: 30px 0px;
}

.gradient-radial-header {
   background: radial-gradient(circle , #827487  30%, transparent 60%);
   position: absolute;
   z-index: -50;
   height: 100%;
   width: 100%;
   opacity: .7;
}

@media (min-width: 768px) {
	.gradient-radial-header {
	background: radial-gradient(circle , #827487  15%, transparent 40%);
	}
}
 
@media (max-width: 306px) {
	.post-title {
		font-size: 13px;
	}
	.menu-bar { 
		font-size: 9px;
		word-spacing: 5px;
	 }
}

.post > h3 {
		margin-top: 30px;
		margin-bottom: 30px;
}

.documentpost > p:first-child {
	font-size: 16px;
	word-spacing: 3px;
}

@media (min-width: 480px) {
	.documentpost > p:first-child {
	font-size: 18px;
	}
}

@media (min-width: 768px) {
	.documentpost > p:first-child {
	font-size: 20px;
	}
}

.documentpost > p {
	margin-bottom: 15px;
}

.side-note {	
	color: white;
	margin: 0px;
	font-size: 12px;
	padding: 30px 30px;
}

@media (min-width: 480px) {
	.side-note {
		font-size: 16px;
	}
}

@media (min-width: 768px) {
	.side-note {
		font-size: 20px;
	}
}

.post > h5 {
	margin-bottom: 5px;
	margin-top: 0px;
}

.post > p:last-child {
	margin-bottom: 0px;
}
