h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 15px;

    @include respond-up(md) {
        font-weight: 200;
    }
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

pre code {
    overflow-x: scroll;
    overflow-y: hidden;
    display: block;
    white-space: pre;
    word-wrap: normal;
}

.u-text--light-purple {
    color: $palette-light-purple;
}
