// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// This function generates a solid linear gradient with an image background. This is necessary due to the fact that
/// mobile webkit won't blend `background-color` and `background-image` but it will blend all the `background-image`
/// values together.
///
/// @param {Color}  $color
/// @param {String} $bg-image
///
@mixin background-blend-hack($color, $bg-image: 'fabric-white.jpg') {
    background-image: linear-gradient(to right, $color 0%, $color 100%), image($bg-image);
}

/// An alias to set the height and width to the same value.
///
/// @param {Number} $size
///
@mixin size($size) {
    height: $size;
    width: $size;
}
