// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Color Palette

$palette-light-purple: #d6bede;
$palette-yellow: #f8e64a;
$palette-white: #ffffff;


/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;


/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '../' !default;


/// The steps font size modifiers will take
$font-sizes: 1em, 1.5em, 2em, 2.25em;

/// The steps used for spacing
$spacing-steps: 0, 0.25rem, 0.5rem, 1rem, 1.5rem, 3rem;

/// The directions used across CSS for positioning
$directions: (
    t: top,
    r: right,
    b: bottom,
    l: left,
);
