---
title: News
permalink: /news/
---

{% extends '@theme/_layouts/aside.html.twig' %}
{% import '_includes/news-article.html.twig' as news %}

{% block content %}
    {% for post in collections.posts | order('date', 'DESC') %}
        <div class="{% if not loop.last %}mb-5{% endif %}">
            {{ news.news_article(post, '2', true) }}
        </div>
    {% endfor %}
{% endblock %}

{% block aside %}
    <h3>Categories</h3>
    <ul class="list-unstyled">
        {% for category in site.categories %}
            <li>{{ category | title }}</li>
        {% endfor %}
    </ul>
{% endblock %}
