---
title: News
permalink: /news/
---

{% extends '@theme/layouts/aside.html.twig' %}
{% import  '_includes/news-article.html.twig' as news %}

{% block content %}
    {% for post in collections.posts | order('date', 'DESC') %}
        <div class="mb-5">
            {{ news.news_article(post, true) }}
        </div>
    {% endfor %}
{% endblock %}

{% block aside %}
    <h4>Categories</h4>
    <ul class="list-unstyled">
        {% for category in data.categories %}
            <li>{{ category | title }}</li>
        {% endfor %}
    </ul>
{% endblock %}
