---
permalink: /news/%year/%posturl/
collection: posts
---

{% extends '@theme/layouts/container.html.twig' %}

{% import  '_includes/news-article.html.twig' as news %}

{% block content %}
    <div class="row">
        <div class="col-lg-9 mx-auto">
            {{ news.news_article(this) }}
        </div>
    </div>
{% endblock %}
