// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
    @if $self {
        &,
        &:hover,
        &:active,
        &:focus {
            @content;
        }
    }
    @else {
        &:hover,
        &:active,
        &:focus {
            @content;
        }
    }
}

@mixin ul-inline() {
    list-style-type: none;
    padding-left: 0;

    li {
        display: inline;
    }
}

@mixin position($pos, $top: null, $right: null, $bottom: null, $left: null) {
    position: $pos;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin padding-x($padding) {
    padding-left: $padding;
    padding-right: $padding;
}

@mixin padding-y($padding) {
    padding-bottom: $padding;
    padding-top: $padding;
}

@mixin margin-x($margin) {
    margin-left: $margin;
    margin-right: $margin;
}

@mixin margin-y($margin) {
    margin-bottom: $margin;
    margin-top: $margin;
}

@mixin margin-center() {
    @include margin-y(auto);
}

@mixin size($size) {
    height: $size;
    width: $size;
}

@mixin respond-up($bp) {
    @if (map-has-key($breakpoints, $bp)) {
        @media (min-width: map-get($breakpoints, $bp)) {
            @content;
        }
    }
    @else {
        @content;
    }
}

@mixin respond-down($bp) {
    @if (map-has-key($breakpoints, $bp)) {
        @media (max-width: (map-get($breakpoints, $bp) - 1px)) {
            @content;
        }
    }
    @else {
        @content;
    }
}

///
/// This function generates a solid linear gradient with an image background. This is necessary due to the fact that
/// mobile webkit won't blend `background-color` and `background-image` but it will blend all the `background-image`
/// values together.
///
/// @param {Color}  $color
/// @param {String} $bg-image
///
@mixin background-blend-hack($color, $bg-image: 'fabric-white.jpg') {
    background-image: linear-gradient(to right, $color 0%, $color 100%), image($bg-image);
}
