code,
kbd,
samp {
    font-size: 0.9em;
}

code,
pre {
    border-radius: 0;
}

code {
    background-color: #282c34;
    color: #AAAAAA;
    padding-left: 5px;
    padding-right: 5px;
}

pre {
    background-color: transparent;
    border: none;
    padding: 0;
}
