code,
kbd,
samp {
    font-size: 0.9em;
}

code,
pre {
    border-radius: 0;
}

code {
    background-color: #282c34;
    border-radius: 3px;
    color: #AAAAAA;
    padding: 2px 6px;
    white-space: nowrap;
}

pre {
    background-color: transparent;
    border: none;
    padding: 0;
}
