// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.c-header {
    @include padding-y(25px);

    text-align: center;

    @include respond-up(md) {
        @include padding-y(50px);
    }
}

.c-header__logo {
    padding-bottom: 15px;
    padding-top: 15px;

    img {
        width: 138px;
    }
}

.c-navigation {
    margin-bottom: 0;

    li {
        margin-right: 15px;

        &:nth-child(3) {
            @include respond-down(ms) {
                margin-right: 0;
            }
        }

        &:last-child {
            margin-right: 0;
        }
    }

    .c-navigation__linebreak {
        margin: 0;

        @include respond-down(ms) {
            display: block;
        }
    }
}
