.u-background {
    background-blend-mode: multiply;
    background-image: image('fabric-white.jpg');
}

.u-background--dpurple {
    @include background-blend-hack(#514157);
}

.u-background--lpurple {
    @include background-blend-hack(#736679);
}

.no-backgroundblendmode {
    .u-background--dpurple {
        background-image: image('fabric-dpurple.jpg');
    }

    .u-background--lpurple {
        background-image: image('fabric-lpurple.jpg');
    }
}

.o-page-section {
    @include padding-y(60px);
}
