.u-background {
    background-blend-mode: multiply;
    background-image: image('fabric-white.png');
}

.u-background--dpurple {
    background-color: #514157;
}

.u-background--lpurple {
    background-color: #736679;
}

.o-page-section {
    @include padding-y(60px);
}
