.u-background-dpurple {
    background-color: #3C2D41;
    background-image: image('fabric-dark.png');
}

.u-background-lpurple {
    background-color: #736679;
    background-image: image('fabric-light.png');
}

.o-page-section {
    @include padding-y(60px);
}
