.c-docs__body {
    header > h1 {
        margin-top: 0;
    }

    h2 {
        margin-top: 30px;
    }

    h2, h3 {
        border-bottom: 1px solid #8a8a8a;
        padding-bottom: 10px;
    }

    table {
        border-top: 1px solid #8a8a8a;
        border-collapse: collapse;
        margin-bottom: 30px;
        width: 100%;

        th {
            padding: 15px;
        }

        td {
            border: 1px solid #8a8a8a;
            padding: 15px;

            &:first-child {
                border-left-color: transparent;
                padding-left: 0;
            }

            &:last-child {
                border-right-color: transparent;
                padding-right: 0;
            }
        }
    }

    h1, h2, h3,
    h4, h5, h6 {
        & + table {
            border-top: 0;

            th {
                padding-top: 0;
            }
        }
    }

    p {
        margin-bottom: 15px;
    }
}

.c-docs__callout {
    border-left-style: solid;
    border-left-width: 5px;
    margin-bottom: 15px;
    padding: 15px;

    p:last-child {
        margin-bottom: 0;
    }
}

.c-docs__callout__heading {
    &:before {
        display: inline-block;
        font-family: FontAwesome;
        margin-right: 10px;
    }
}

$_headings: (
    warning: (
        bg: #874b47,
        border: #b90000,
        fa: '\f071',
        fabric: 'red',
    ),
    future: (
        bg: #876547,
        border: #b96f00,
        fa: '\f017',
        fabric: 'yellow',
    ),
    tip: (
        bg: #678060,
        border: #58a95a,
        fa: '\f0eb',
        fabric: 'green',
    ),
    note: (
        bg: #476c87,
        border: #008eb9,
        fa: '\f24a',
        fabric: 'blue',
    )
);

@each $name, $settings in $_headings {
    .c-docs__callout--#{$name} {
        background-image: image('fabric-' + map-get($settings, 'fabric') + '.jpg');
        border-left-color: map-get($settings, 'border');

        .c-docs__callout__heading:before {
            content: map-get($settings, 'fa');
        }
    }
}

.c-docs__nav {
    ul {
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;

        ul {
            padding-left: 15px;
        }
    }
}
