// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.c-slogan__heading {
    font-size: 30px;
    margin-bottom: 0.5em;

    @include media-breakpoint-down(md) {
        line-height: 1em;
    }

    @include media-breakpoint-up(sm) {
        font-size: 45px;
        font-weight: 100;
        margin-bottom: 0;
    }
}

.c-slogan__subheading {
    font-size: 18px;

    @include media-breakpoint-up(sm) {
        font-weight: 100;
    }
}

.c-twig-showcase {
    p {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.c-twig-showcase__image {
    margin-bottom: 30px;

    @include media-breakpoint-up(md) {
        margin-bottom: 0;
    }

    img {
        @include media-breakpoint-down(md) {
            height: 175px;
        }
    }
}
