body {
    color: $palette-white;
}

a {
    color: $palette-yellow;

    &:hover {
        color: $palette-yellow;
    }
}

h1, h2, h3,
h4, h5, h6 {
    line-height: 1;
    margin-bottom: 15px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

p {
    font-weight: 300;
}

pre code {
    overflow-x: scroll;
    overflow-y: hidden;
    display: block;
    white-space: pre;
    word-wrap: normal;
}

.u-text--light-purple {
    color: $palette-light-purple;
}

@for $index from 1 through length($font-sizes) {
    .text-#{$index} {
        font-size: nth($font-sizes, $index);
    }
}
